.header .container {
  @include align(flex, space-between, center);
}
.header {
  background-color: $background-color;
  padding: 0 px;
  border: 1px solid #ececec;
}
.nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__logo {
  width: 145px;
  height: 31px;
  margin-right: 93px;
}
.list {
  list-style: none;
}

.header__logo,
.footer-logo {
  display: inline-block;
  font-family: "Raleway";
  font-style: normal;
  @include font(700, 26px, 1.19, 0.03em);
  color: var(--logo-color);
}
.header__desk,
.footer-desk {
  color: #000;
}

.logo,
.header__logo,
.footer-logo,
.link {
  text-decoration: none;
}
.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--logo-color);
  }
}
