.project-title {
  @include font(700, 18px, 2, 0.06em);
  color: var(--title-color);
  margin-top: 0px;
  margin-bottom: 4px;
}
.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
}
.project-list {
  margin: 0 -30px -30px 0;
  padding: 0;
}
.project-info {
  width: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.project-pic {
  position: relative;
  overflow: hidden;
}
.project-thumb {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 100%;
  @include align(flex, null, center);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 0px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover .project-thumb {
  opacity: 1;
  transform: translatey(-100%);
}
.project-link:focus .project-thumb {
  opacity: 1;
  transform: translatey(-100%);
  outline: none;
}
.project-desk {
  display: inline-block;
  @include font(400, 18px, 1.56, 0.03em);
  color: var(--background-color);
  margin: 0px;
}
.project {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.project-text {
  @include font(400, 16px, 1.88, 0.03em);
  color: var(--contact-color);
  margin: 0px;
}
.project-list {
  background-color: var(--background-color);
}
