body {
  font-family: var(--main-font);
  background-color: $background-color;
  color: var(--title-color);
}

.container {
  position: relative;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.title {
  @include font(700, 36px, 1.17, 0.03em);
  text-align: center;
  color: var(--title-color);
  margin-top: 0px;
  margin-bottom: 50px;
}
