@mixin font($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}
@mixin align($ds, $jc, $ai) {
  display: $ds;
  justify-content: $jc;
  align-items: $ai;
}
